<div class="home">
<h2>Welcome to Anki!</h2><br>
  <hr>
<form action="/register" method="get">
  <p>To register</p>
  <button type="submit">Register!</button>
</form>
</div>

<form class="play" action="/play" method="get">
  <p>To play</p>
  <button type="submit">Play!</button>
</form>
