<div class="container">
  <form class="form-signin" role="form">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="email" class="form-control" placeholder="Email address" required autofocus>
    <input type="password" class="form-control" placeholder="Password" required>
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div>

<div class="home">
<form action="/register" method="get">
  <p>To register</p>
  <button type="submit">Register!</button>
</form>
</div>


<script type="text/javascript">


$(document).keypress(function(event){

  var keycode = (event.keyCode ? event.keyCode : event.which);
  if(keycode == '114'){
    window.location.href='/register';
  }

});

</script>

<form class="play" action="/play" method="get">
  <p>To play</p>
  <button type="submit">Play!</button>
</form>


<script type="text/javascript">


$(document).keypress(function(event){

  var keycode = (event.keyCode ? event.keyCode : event.which);
  if(keycode == '112'){
    window.location.href='/play';
  }

});

</script>


