<div class="question">
  <h1>Question</h1>
  <%= @questions[0] %>
  <div class="button" id="flip">
    <form name="flip" align="center" action="/" method="post">
      <input type="submit" value="Flip">
    </form>
  </div>

  <div class="answer">
    <h1>Answer</h1>
  </div>
</div>

<div class="rules">
  <p>Press 'G' GOOD</p>
  <p>Press 'B' BAD</p>
  <p>Press 'E' EXIT</p>
</div>

<div class="button">
  <form name="correct" align="center">
    <input type="submit" value="GOOD">
  </form>
</div>


<div class="button">
  <form name="incorrect" align="center">
    <input type="submit" value="BAD">
  </form>
</div>

<div class="button">
  <form action='/' name="exit" align="center">
    <input class="test" type="submit" value="Exit">
  </form>

  <script type="text/javascript">


  $(document).keypress(function(event){

    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '101'){
      window.location.href='/';
    }
  });

  </script>


</div>
