<header>FlashCard Anki
 <div id="exit">
  <form action='/' name="exit">
    <input class="test" type="submit" value="Exit">
  </form>
</div>
</header>

<div class="question">
  
  <h1>Question</h1>
  <%= @question %>
  <div id="flip">
    <form name="flip" action="/" method="post">
      <input type="submit" value="Flip">
    </form>
  </div>
</div>
  <div class="answer">
    <h1>Answer</h1>
    <%= @answer %>
  </div>

<div id='center_body'>
  <div class="button">
  <form action="/play/<%= @deck_id %>" name="correct" align="center">
    <input type="submit" value="GOOD">
  </form>
</div>
<div class="button">
  <form action="/play/<%= @deck_id %>" name="incorrect" align="center">
    <input type="submit" value="BAD">
  </form>
</div>
</div>


<div class="rules">
  <p>Press 'G' GOOD</p>
  <p>Press 'B' BAD</p>
  <p>Press 'E' EXIT</p>
</div>

<script type="text/javascript">

$(document).keypress(function(event){

  var keycode = (event.keyCode ? event.keyCode : event.which);

  if(keycode == '103'){
    window.location.href='/play';
  }
  if(keycode == '98'){
    window.location.href='/play/:deck_id';
  }

</script>
