<div class="register">
  <h3>Register here</h3>
  First name: <input type="text" name="firstname"><br>
  <br>
  Last name: <input type="text" name="lastname"><br>
  <br>
  Email: <input type="text" name="email" style="margin-left: 30px;">
</div>
