
/*.container {
    margin: 20px auto;
    }*/

.question, .answer {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;*/
  text-align: center;
  color: blue;
}
th {
  text-align: left;
}

.new {
  float: none;
  padding: 10px;

}

.existing {
  float: none;
}

.register {
  color: blue;
  text-align: center;

}

.login {
  color: black;
  text-align: center;

}

.home {
  text-align: center;
  color: blue;
}

.play {
  text-align: center;
  color: blue;
}


.rules {
  text-align: center;
}
