
/*.container {
    margin: 20px auto;
    }*/

#center_body {

  margin: 0 auto;
  width: 300px;

}
.button {
  float: left;
  padding-left: 6e0px;

}

.question, .answer {
  margin: 75px auto;
  width: 300px;
  height: 150px;
  padding: 0 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
  color: black;
  background: url(/index_card.png);
  background-size: 100%;
}
th {
  text-align: left;
}

.new {
  float: none;
  padding: 10px;

}

.existing {
  float: none;
}

.register {
  color: blue;
  text-align: center;

}

.login {
  color: black;
  text-align: center;

}

.home {
  text-align: center;
  color: blue;
}

.play {
  text-align: center;
  color: blue;
}

body {
  background-color: black;
}

.rules {
  text-align: center;
  padding-top: 50px;

}

.rules p {
  color: white;
}

header {
  background: #595959;
  padding: 15px 0 15px 50px;
  color: white;
  font-size: 20px;
}

#exit {
  margin-right: 30px;
  float: right;
}

#flip {
  margin: 20px 0 0 250px;

}

h1 {
  margin: 0 0 47px 0;
}